<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog-content-container">
    <h3 th:text="${userModel.title}">kevin</h3>
    <div th:object="${userModel.user}">
        <p><strong>ID:</strong><span th:text="*{id}"></span></p>
        <p><strong>Name:</strong><span th:text="*{name}"></span></p>
        <p><strong>Email:</strong><span th:text="*{email}"></span></p>
    </div>
    <div>
        <a class="btn btn-default" th:href="@{'/users/delete/' + ${userModel.user.id}}">删除</a>
        <a class="btn btn-default" th:href="@{'/users/modify/' + ${userModel.user.id}}">修改</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>