<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">

    <div>
        <p>@ 2018 AtlasSlots</p>
    </div>

    <!--&lt;!&ndash; JavaScript &ndash;&gt;-->
    <!--<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>-->
    <!--<script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>-->
    <!--<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
    <!--<script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>-->
    <!--<script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>-->
    <!--<script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>-->
    <!--<script src="../../js/main.js" th:src="@{/js/main.js}"></script>-->
</footer>
</body>
</html>